.view {
    background-color: rgb(221, 237, 249);
    background-image: linear-gradient(rgb(221, 237, 249), rgb(205, 223, 232), rgb(174, 217, 250));
    height: 100vh;

    &>header {
        position: relative;

        &>h2 {
            font-size: 14px;
            line-height: 30px;
            background-image: url('./image/logo.png');
            background-size: auto 70%;
            background-repeat: no-repeat;
            background-position: 10px center;
            padding-left: 40px;
            font-weight: 200;
            font-family: cursive;
        }

        &>.btn {
            position: absolute;
            width: 20px;
            height: 20px;
            background-position: center center;
            top: 0;
            font-size: 0;
            background-repeat: no-repeat;
            cursor: pointer;

            &:hover {
                background-color: rgb(202, 226, 245);
            }

            &.min {
                background-image: url('./image/min.png');
                right: 40px;
            }

            &.close {
                background-image: url('./image/close.png');
                right: 10px;
            }
        }
    }

    &>div {

        &.main {
            height: calc(100vh - 30px);
            display: flex;
            padding: 5px;

            &>div {
                &.left {
                    flex-grow: 1;
                    padding: 0 10px;

                    &>div {

                        &.msg-win {
                            border: 1px solid rgb(3, 101, 131);
                            height: calc(100% - 30px);
                            border-radius: 5px;

                            #msg {
                                width: 100%;
                                height: calc(100% - 130px);
                                background-color: white;
                                border-radius: 5px 5px 0 0;
                                overflow: auto;
                            }

                            .help-input {
                                height: 30px;
                                padding: 0 5px;

                                &>label {
                                    display: inline-block;
                                    width: 30px;
                                    height: 30px;
                                    font-size: 0;
                                    vertical-align: top;
                                    background-position: center center;
                                    background-size: 80% auto;
                                    background-repeat: no-repeat;
                                    cursor: pointer;

                                    &.image {
                                        background-image: url('./image/image.png');

                                    }
                                }
                            }

                            #input {
                                width: 100%;
                                height: 100px;
                                outline: none;
                                border: none;
                                border-radius: 0 0 5px 5px;
                                resize: none;
                                font-weight: 200;
                                font-family: cursive;
                            }
                        }

                        &.btns {
                            height: 30px;
                            text-align: right;

                            &>button {
                                font-size: 12px;
                                outline: none;
                                border: none;
                                background-color: rgb(84, 167, 239);
                                color: white;
                                padding: 2px;
                                margin-top: 5px;
                                margin-right: 10px;
                                width: 60px;
                                cursor: pointer;
                            }
                        }
                    }
                }

                &.right {
                    flex-grow: 0;
                    flex-shrink: 0;
                    flex-basis: 200px;
                    outline: 1px solid rgb(3, 101, 131);
                    margin-bottom: 7px;
                    padding: 0 0 10px 10px;

                    &>span {
                        border: 1px solid rgb(198, 195, 195);
                        display: inline-block;
                        width: 53px;
                        height: 50px;
                        padding-top: 33px;
                        text-align: center;
                        font-size: 7px;
                        background-color: white;
                        margin: 10px 10px 0 0;
                        border-radius: 5px;
                        background-repeat: no-repeat;
                        background-position: center 3px;
                        background-size: 60% auto;
                        cursor: pointer;

                        &:hover {
                            border: 1px solid rgb(0, 0, 0);
                            text-decoration: underline;
                        }

                        &.history {
                            background-image: url('./image/history.png');
                        }

                    }
                }
            }
        }
    }
}

.not-show-view {
    display: none;
}
